.ui.card.event-card {
  position: relative;
  overflow: hidden;
}

.ui.card.event-card.loading {
  pointer-events: none;
}

.ui.card.event-card.loading .event-card__cover {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px 8px 0 0;
}

.ui.card.event-card .content,
.ui.card.event-card .event-card__cover .dg.ImgFixed {
  opacity: 1;
  transition: opacity ease 0.3s;
}

.ui.card.event-card.loading .event-card__cover .dg.ImgFixed {
  opacity: 0;
}

.ui.card.event-card .dg.ImgFixed {
  border-radius: 8px 8px 0 0;
}

.ui.card.event-card.pending {
  opacity: 0.7;
  background: #eee;
}

.ui.card.event-card .event-card__attendees {
  position: absolute;
  z-index: 100;
  top: 12px;
  right: 22px;
}

.ui.card.event-card .event-card__attendees > * {
  margin-right: -10px;
}

.ui.card.event-card .event-card__attendees .event-card__attendees-more {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: white;
  color: #37333d;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 0.4em;
  box-sizing: content-box;
  top: 2px;
  position: relative;
}

.ui.card.event-card .StartIn,
.ui.card.event-card .Live {
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 12px;
}

.ui.card.event-card > .content > .header:not(.ui),
.ui.cards > .card.event-card > .content > .header:not(.ui) {
  margin-top: 0;
}

.event-card__content-header {
  display: flex;
  justify-content: space-between;
}
