node_modules
storybook-static
coverage/*
src/*
public/*
dist/__mock__
dist/__mocks__
dist/migrations
dist/**/*.test.js
dist/**/*.test.d.ts
postcss.config.js
tsconfig.json
.circleci
.storybook
.github
.vscode
.husky
.prettierignore
.prettierrc
README.md
test
