.jump-in-position {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.jump-in-position .jump-in-position__position {
  padding: 4px 8px 4px 5px;
  border-radius: 4px;
  display: block;
  background-color: var(--secondary);
  margin-right: 2px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 24px;
}

.jump-in-position.jump-in-position--compact .jump-in-position__position {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1000;
}

.jump-in-position.jump-in-position--compact:hover .jump-in-position__position {
  display: flex;
}

.jump-in-position .jump-in-position__position img {
  width: 16px;
  margin-right: 4px;
  display: block;
}

.jump-in-position .jump-in-position__position span {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  display: block;
  color: #736e7d;
}

.jump-in-position .jump-in-position__icon {
  padding: 5px;
  border-radius: 4px;
  display: block;
  background-color: var(--primary);
  width: 24px;
  height: 24px;
}

.jump-in-position .jump-in-position__icon img {
  width: 14px;
  height: auto;
  display: block;
}

.ui.card .jump-in-position .jump-in-position__icon img,
.ui.card .jump-in-position .jump-in-position__position img,
.ui.cards > .card .jump-in-position .jump-in-position__icon img,
.ui.cards > .card .jump-in-position .jump-in-position__position img {
  vertical-align: super;
}
