pre.dg.Code {
  position: relative;
  border: 1px solid var(--divider);
  border-radius: 8px;
  color: var(--text);
  overflow: auto;
}

pre.dg.Code pre,
pre.dg.Code code {
  margin: 0;
  padding: 0;
}

pre.dg.Code,
pre.dg.Code pre,
pre.dg.Code code {
  font-family: sf mono, Menlo, Monaco, Consolas, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

pre.dg.Code.Code--block {
  margin: 1.45em 0;
}

pre.dg.Code.Code--block pre {
  /* background: white; */
  font-size: 14px;
  line-height: 19px;
}

pre.dg.Code.Code--block pre code {
  padding: 13px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre.dg.Code.Code--block pre code::-webkit-scrollbar {
  display: none;
}

pre.dg.Code.Code--block.Code--with-note pre code {
  padding-top: 36px;
}

pre.dg.Code.Code--block.Code--with-copy pre code {
  padding-bottom: 36px;
}

pre.dg.Code.Code--block .Code__Note,
pre.dg.Code.Code--block .Code__Copy {
  display: block;
  position: absolute;
  font-size: 13px;
  padding: 0.2em 1em;
  background: var(--background);
  border: 1px solid var(--divider);
  border-radius: 8px 0 8px 0;
}

pre.dg.Code.Code--block .Code__Note {
  top: 0;
  left: 0;
  border-top: 0;
  border-left: 0;
  color: var(--secondary-text);
}

pre.dg.Code.Code--block .Code__Copy {
  bottom: 0;
  right: 0;
  border-bottom: 0;
  border-right: 0;
  cursor: pointer;
  color: var(--text);
  font-weight: bold;
  transition: color ease 0.3s, font-weight ease 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre.dg.Code.Code--block .Code__Copy.active,
pre.dg.Code.Code--block .Code__Copy:active {
  color: var(--secondary-text);
  font-weight: normal;
}

pre.dg.Code.Code--inline {
  margin: 0;
  padding: 0.1em 0.2em 0.2em;
  background: #fafafa;
  display: initial;
  font-size: 0.9em;
  line-height: inherit;
}

pre.dg.Code.Code--inline pre,
pre.dg.Code.Code--inline code.hljs {
  display: inline;
}

pre.dg.Code.Code--inline .Code__Note {
  display: none;
}
