.dg.MainTitle {
  color: var(--text);
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
}

@media only screen and (max-width: 767px) {
  .dg.MainTitle {
    font-size: 64px;
  }
}

@media only screen and (max-width: 375px) {
  .dg.MainTitle {
    font-size: 48px;
  }
}
