.dg.SubTitle {
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 767px) {
  .dg.SubTitle {
    font-size: 28px;
  }
}

@media only screen and (max-width: 375px) {
  .dg.SubTitle {
    font-size: 21px;
  }
}
