.dg.Title {
  color: var(--text);
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

@media only screen and (max-width: 767px) {
  .dg.Title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .dg.Title {
    font-size: 34px;
  }
}
