.dg.ImgAvatar {
  height: auto;
  border-radius: 100%;
  background-color: #4e79a7;
  vertical-align: middle;
  max-width: 256px;
}

.dg.ImgAvatar.ImgAvatar--0,
.dg.ImgAvatar.ImgAvatar--1 {
  background-color: #4e79a7;
}

.dg.ImgAvatar.ImgAvatar--2,
.dg.ImgAvatar.ImgAvatar--3 {
  background-color: #f28e2c;
}

.dg.ImgAvatar.ImgAvatar--4,
.dg.ImgAvatar.ImgAvatar--5 {
  background-color: #e15759;
}

.dg.ImgAvatar.ImgAvatar--6,
.dg.ImgAvatar.ImgAvatar--7 {
  background-color: #76b7b2;
}

.dg.ImgAvatar.ImgAvatar--8,
.dg.ImgAvatar.ImgAvatar--9 {
  background-color: #59a14f;
}

.dg.ImgAvatar.ImgAvatar--a,
.dg.ImgAvatar.ImgAvatar--b {
  background-color: #edc949;
}

.dg.ImgAvatar.ImgAvatar--c,
.dg.ImgAvatar.ImgAvatar--d {
  background-color: #af7aa1;
}

.dg.ImgAvatar.ImgAvatar--e,
.dg.ImgAvatar.ImgAvatar--f {
  background-color: #ff9da7;
}

.dg.ImgAvatar.ImgAvatar--mini {
  width: 20px;
}

.dg.ImgAvatar.ImgAvatar--tiny {
  width: 24px;
}

.dg.ImgAvatar.ImgAvatar--small {
  width: 32px;
}

.dg.ImgAvatar,
.dg.ImgAvatar.ImgAvatar--medium {
  width: 44px;
}

.dg.ImgAvatar.ImgAvatar--large {
  width: 52px;
}

.dg.ImgAvatar.ImgAvatar--big {
  width: 66px;
}

.dg.ImgAvatar.ImgAvatar--huge {
  width: 90px;
}

.dg.ImgAvatar.ImgAvatar--massive {
  width: 122px;
}

.dg.ImgAvatar.ImgAvatar--full {
  width: 100%;
}
