.Paragraph {
  color: var(--text);
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: 0.3px;
}

.Paragraph.Paragraph--small {
  font-size: 17px;
}

.Paragraph.Paragraph--primary {
  color: var(--primary);
}

.Paragraph.Paragraph--secondary {
  color: var(--secondary-text);
}

.Paragraph.Paragraph--bold {
  font-weight: bold;
}

.Paragraph.Paragraph--italic {
  font-style: italic;
}

.Paragraph.Paragraph--underline {
  text-decoration: underline;
}

@media only screen and (max-width: var(--table)) {
  .Paragraph {
    font-size: 21px;
  }

  .Paragraph.Paragraph--small {
    font-size: 17px;
  }
}

@media only screen and (max-width: var(--mobile)) {
  .Paragraph {
    font-size: 17px;
  }

  .Paragraph.Paragraph--small {
    font-size: 17px;
  }
}
