.ui.page.modals.dimmer {
  padding: 0;
  /* position: absolute; */
}

.scrolling.dimmable.dimmed {
  overflow: auto;
}

.scrolling.dimmable > .dimmer {
  position: relative;
}

.ui.page.dimmer {
  position: relative;
  min-height: 80vh;
}

.ui.modal.visible.active {
  position: relative !important;
}
