.modals.dimmer .ui.scrolling.modal.filter-container__modal {
  margin: 0 auto;
}

.ui.modal.filter-container__modal {
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.ui.modal.filter-container__modal > div.header,
.ui.modal.filter-container__modal > div.content,
.ui.modal.filter-container__modal > div.actions {
  margin: 0;
  padding: 28px 32px 20px 32px;
  flex: 0 0 auto;
}

.ui.modal.filter-container__modal > div.header {
  padding: 32px 32px 20px 32px;
}

.ui.modal.filter-container__modal > div.header .ui.header {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
.ui.modal.filter-container__modal > div.header .ui.icon.button {
  min-width: auto;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 16px;
  top: 16px;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.ui.modal.filter-container__modal > div.header .ui.icon.button .icon {
  font-size: 21px;
  color: #a09ba8;
}

.ui.modal.filter-container__modal > div.content {
  flex: 0 1 auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ui.modal.filter-container__modal > div.content::-webkit-scrollbar {
  display: none;
}

.ui.modal.filter-container__modal > div.actions {
  border-top: 1px solid #cfcdd4;
  padding-bottom: 32px;
}

.ui.button.filter-container__button,
.ui.modal.filter-container__modal > div.actions .ui.button {
  border-radius: 10px;
}

.ui.button.secondary.filter-container__button,
.ui.button.secondary.filter-container__button:hover,
.ui.button.secondary.filter-container__button:focus,
.ui.modal.filter-container__modal > div.actions .ui.button.secondary,
.ui.modal.filter-container__modal > div.actions .ui.button.secondary:hover,
.ui.modal.filter-container__modal > div.actions .ui.button.secondary:focus {
  color: var(--text-on-secondary);
  background-color: white;
  border: 1px solid #cfcdd4;
}

@media only screen and (max-width: 767px) {
  .ui.modal.filter-container__modal > div.header {
    padding: 32px 82px 0.75rem 1rem !important;
  }

  .ui.modal.filter-container__modal > div.header .ui.header {
    margin: 0;
  }
}
