name: Release previous versions

on:
  push:
    branches:
      - 4.x.x
      - 3.x.x
      - 2.x.x
      - 1.x.x

jobs:

  bun:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1

      - name: Installing
        run: bun install

      - name: Testing
        run: bun test
        continue-on-error: true

  node:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf "ssh://git@github.com/"

      - name: node.js 18.8.0
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: installing npm
        run: npm i -g npm@9
        # this command installs the npm package
      - name: installing
        run: npm ci

      - name: linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          eslint_extensions: ts,tsx,js,jsx
          eslint_dir: src/
          prettier: true
          prettier_extensions: ts,tsx,js,jsx,json,md,mdx,css
          continue_on_error: false
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: testing
        run: npm test -- --coverage

      - name: building
        run: npm run build

      - name: releasing
        run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
