.dcl.tabs {
  background: var(--background);
}

.dcl.tabs .dcl.tab {
  color: var(--text);
}

.dcl.tabs .ui.container {
  display: flex;
}

.dcl.tabs .action-buttons {
  margin: 0;
  margin-left: 1rem;
}

.dcl.tabs .SearchInput {
  min-width: 300px;
}

.dcl.tabs .ui.button .icon {
  font-size: inherit;
  line-height: inherit;
  vertical-align: inherit;
}

.navigation-menu .mobile-menu {
  position: relative;
  display: none;
  padding-top: 0px;
  transition: opacity 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
  opacity: 0;
  transform: translateY(-16px);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 415px) {
}

@media (max-width: 768px) {
  .navigation-menu .navbar__mobile-menu {
    display: inline-flex;
  }

  .navigation-menu .navbar__mobile-menu .header.dcl.active-page {
    margin-left: 16px;
    display: flex;
    align-items: center;
    height: 64px;
    text-transform: uppercase;
    width: auto;
  }

  .navigation-menu .mobile-menu {
    display: flex;
    flex-flow: column;
    pointer-events: none;
    background-color: var(--navbar-popup);
  }

  .navigation-menu {
    width: 100%;
  }

  .navigation-menu.open .mobile-menu {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
    box-shadow: var(--shadow-3);
  }

  .navigation-menu .mobile-menu .dcl.tab {
    padding: 19px 65px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--text);
  }

  .navigation-menu .mobile-menu .mobile-bottom__wrapper {
    display: flex;
    flex-direction: column;
  }

  .navigation-menu .mobile-menu .mobile-bottom__wrapper > * {
    padding: 9px 65px;
    width: calc(100% - 130px);
    margin: 10px auto;
    display: inline-block;
  }

  .navigation-menu .mobile-menu .item.active {
    background-color: var(--navbar-popup-hover);
    font-weight: bold;
  }

  .navigation-menu .mobile-menu .item:hover {
    color: var(--text);
    background-color: var(--navbar-popup-hover);
  }
}

@media only screen and (max-width: 991px) {
  .dcl.tabs {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

  .dcl.tabs .ui.container {
    align-items: flex-start;
    flex-direction: column;
  }

  .dcl.tabs .tabs__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }

  .dcl.tabs .tabs__wrapper:last-child {
    margin-bottom: 8px;
    width: 100%;
  }

  .dcl.tabs .SearchInput {
    min-width: 140px;
    flex: 1;
  }

  .dcl.tabs .action-buttons {
    margin-right: 1rem;
  }
}
